/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
} */


#container {
    border: 1px solid rgb(234, 232, 232); 
    position: relative; 
    width: 350px; 
    height: 350px;
    border-radius: 20px;
    margin-left: 10px;
    overflow: hidden;
}

#icon {
    position: absolute;
    right: -20px;
    background-color: rgb(33, 147, 196);
    top: -20px;
    width: 60px; 
    height: 70px;

}

#text1 {
    margin-left: 20px;
    align-items: center;
}

#h3 {
    align-items: center;
}

#stars {
    align-items: center;
    align-content: center;
    margin-left: 120px;
    color: rgb(225, 186, 11);
}