@import url('https://fonts.googleapis.com/css2?family=Yuyu&display=swap');
/* Add link in top only */

* {
    font-family: Yuyu;
}


.formating {
    font-size: 25px;
    background-color: hwb(192 16% 6%); 
}

#h3 {
    background-color: #e816c5;
    font-size: 40px;
}

p {
    background-color: #16e8bb;
    font-size: 30px;
}

h2, #p1, #p4 {
    background-color: #e8e816;
    font-size: 30px;
}

/* Descendant Selector : Selects all <li> elements that are descendants of a <ul> element. */
ul li {
    background-color: #e81616;
    font-size: 30px;
    text-transform: uppercase;
}

/* Child Selector : Selects all <p> elements that are direct children of a <div> element. */
div > p {
    background-color: #1691e8;
    font-size: 30px;
}

/* Attribute Selector : Selects all <input> elements with a type attribute value of "text". */
input[type="text"] {
    background-color: #167ce8;
}

/* Attribute selector */
input[type="password"] {
    background-color: red;
}

/* Pseudo Class Selector : Selects all <button> elements when the user hovers over them. */
button:hover {
    background-color: #e8e816;
    font-size: 30px;
}